<div class="wrapper">    
    <nav id="sidebar">
        <div class="sidebar-header"><h3>{{title}}</h3> </div>
        <ul class="list-unstyled components">
            <p>Opciones</p>
            <li class="active">
                <a routerLink="/dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menú</a>
            </li>
            <li>                
                <ul class="list-unstyled" id="dashboard">
                    <li><a routerLink="/dashboard">Top Productos</a></li>
                    <li><a routerLink="/productos">Productos</a></li>
                    <li><a routerLink="/locals">Datos locales</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="content">
        <!---->
        <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>                        
                <span>Toggle Sidebar</span>
        </button>        
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
        </button>
        
        <router-outlet></router-outlet>
        <app-messages></app-messages>
    </div>
</div>